.container {
    vertical-align: middle;

    --positive-color: #D40808;
    --negative-color: green;

    *[data-name] {
        display: flex;

        align-items: center;
        gap: 0.2em;

        img {
            width: 1.5em;
            aspect-ratio: 1;
            border-radius: 50%;
        }

        span:nth-child(2) {
            font-weight: bolder;
            text-transform: capitalize;
        }

        span:nth-child(3) {
            color: rgb(110, 110, 110);
        }

    }

    *[data-positive='true'] {
        color: var(--positive-color);
    }

    *[data-negative='true'] {
        color: var(--negative-color);
    }
}