// TODO: positive & negative 反轉
// TODO: RWD

.container {
    vertical-align: middle;

    *[data-name] {
        display: flex;

        align-items: center;
        gap: 0.2em;

        img {
            width: 1.5em;
            aspect-ratio: 1;
            border-radius: 50%;
        }

        span:nth-child(2) {
            font-weight: bolder;
            text-transform: capitalize;
        }

        span:nth-child(3) {
            color: gray;
        }

    }

    *[data-positive='true'] {
        color: red;
    }

    *[data-negative='true'] {
        color: green;
    }
}