.container {
    font-size: 2rem;
    width: 6em;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    *[data-main-icon] {
        background-color: white;
        border-radius: 50%;
        position: absolute;
        transition: 0.3s;
        cursor: pointer;
        width: 1.5em;
        height: 1.5em;
        z-index: 20;
    }

    &[data-is-expended='false'] {
        *[data-main-icon] {
            transform: rotate(45deg);
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        // background-color: white;
        border: 1.5em solid white;
        transition: 0.3s;
        transform: scale(1);
        transition-timing-function: cubic-bezier(.57, .57, .44, 1.34);

    }

    &[data-is-expended='false']::before {
        transform: scale(0);
    }

    .item {
        --angle: calc(360deg / var(--count) * var(--i) - 90deg);
        line-height: 1em;
        width: 1.5em;
        height: 1.5em;
        position: absolute;
        z-index: 10;
        translate:
            /* Translation on X-axis */
            calc(cos(var(--angle)) * (2.275em))
            /* Translation on Y-axis */
            calc(sin(var(--angle)) * (2.275em));

        // background-color: red;
        border-radius: 50%;
        transition: 0.3s;
        transition-timing-function: cubic-bezier(.57, .57, .44, 1.34);
        cursor: pointer;

        &:hover {
            // background-color: var(--bs-primary);
            // color: rgba(255, 255, 255, 0.8);
            transform: scale(1.2);
        }

    }


    &[data-is-expended='false'] .item {
        translate: 0 0;
        opacity: 0;
        pointer-events: none;
    }

}