$homeTeamColor: #c21a2aff !default;
$awayTeamColor: #3971c4ff !default;

// TODO: RWD
// TODO: animation

.container {
    --home-team-color: #{$homeTeamColor};
    --away-team-color: #{$awayTeamColor};
    --middle-position: clamp(calc(300px + 1em), var(--percent), calc(100% - 300px - 1em));



    justify-content: center;
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    background: linear-gradient(90deg,
            var(--home-team-color),
            var(--home-team-color) calc(var(--middle-position, 50%) - 5%),
            white var(--middle-position, 50%),
            var(--away-team-color) calc(var(--middle-position, 50%) + 5%),
            var(--away-team-color));
    color: white;
    gap: 2em;
    text-shadow: 3px 3px black;
    border-radius: 2em;
    padding: 0;
    background-position-x: var(--bg-position, 50%);



    *[data-team] {
        flex: 1;
        justify-content: space-between;
        min-width: 300px;
        padding: 0 1em;


        *[data-team-name] {
            font-size: 2.5em;
            font-weight: bolder;
            font-variant: small-caps;
            text-transform: capitalize;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            flex-shrink: 1;
            max-width: 70%;
        }

        *[data-team-score] {
            font-size: 4em;
            font-weight: bolder;
        }
    }

    *[data-countdown] {
        font-size: 1.3em;
        font-weight: bold;
        // width: 3em;
        padding: 0 1em;
        text-align: center;
        position: absolute;
        background-color: gray;
        border-radius: 1em;
        top: -1em
    }

    *[data-subtitle] {
        font-size: 1.1em;
        font-weight: bold;
        // width: 3em;
        padding: 0 1em;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: wrap;
        position: absolute;
        background-color: gray;
        border-radius: 1em;
        bottom: -1em
    }

}