@use "../../styles/mixins/fire-text-shadow" as *;

.normal {
    @include fire-text-shadow;
    font-size: 100px;
}

.animation {
    span {
        animation-name: fireTextAni;
        animation-duration: 500ms;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;

        &:nth-child(even) {
            animation-direction: reverse;
        }

    }

    font-size: 100px;
}

.variants {
    @include fire-text-shadow(#f7feeeb2 #c1eb8ab0 #a5f63cdb #abff3d #b2ff4e6a, 60deg);
    font-size: 100px;
}

@keyframes fireTextAni {
    0% {
        @include fire-text-shadow
    }

    33% {
        @include fire-text-shadow
    }

    66% {
        @include fire-text-shadow
    }

    100% {
        @include fire-text-shadow
    }
}