.container {
    // background-color: red;
    position: relative;
    width: 600px;
    aspect-ratio: 1;
    filter: url(#wavy) blur(1px);

    &::before {
        content: '';
        position: absolute;
        inset: 100px;
        border: 20px solid #fff;
        border-radius: 50%;
        box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
        -webkit-box-reflect: below 20px linear-gradient(transparent, transparent, #00000020);
        animation: fireRingAnimation 5s infinite linear;
    }

    &::before {
    content: '';
    position: absolute;
    inset: 100px;
    border: 20px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 50px #fff, inset 0 0 50px #fff;
}

}




@keyframes fireRingAnimation {
    0% {
        box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
        filter: hue-rotate(0deg);
    }

    20% {
        box-shadow: 0 0 60px #0f0, inset 0 0 60px #0f0;
    }

    40% {
        box-shadow: 0 0 40px #0f0, inset 0 0 40px #0f0;
    }

    60% {
        box-shadow: 0 0 80px #0f0, inset 0 0 80px #0f0;
    }

    80% {
        box-shadow: 0 0 100px #0f0, inset 0 0 100px #0f0;
    }

    100% {
        box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
        filter: hue-rotate(360deg);
    }

}