@use "../../styles/mixins/neon-light-text-shadow" as *;


.normal {
    font-size: xx-large;
    color: #111;

    span {

        @include neon-light-text-shadow(#15b925);
        color: #fff;

    }
}

.chase {
    font-size: xx-large;
    color: #111;

    span {

        animation: chaseAnimation 2.7s infinite;

        @for $i from 1 through 9 {
            &:nth-child(#{$i}) {
                animation-delay: $i * 0.3s;
            }
        }

    }
}

.flickering {
    font-size: xx-large;
    color: #111;

    span {
        animation: flickerAnimation 2s infinite alternate;
    }
}

.pulsate {
    font-size: xx-large;
    color: #111;

    span {
        animation: pulsateAnimation 2s infinite alternate;
    }
}

@keyframes chaseAnimation {

    0%,
    100% {
        color: #fff;
        filter: blur(2px);
        @include neon-light-text-shadow(#1C03DE, 0, 10px 20px 40px 80px 120px 200px 300px 400px);

    }

    5%,
    95% {
        color: #111;
        filter: blur(0px);
        text-shadow: none
    }
}

@keyframes flickerAnimation {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        @include neon-light-text-shadow(#D829EE);
    }

    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }
}

@keyframes pulsateAnimation {

    0% {
        color: #fff;
        @include neon-light-text-shadow(#16a6b6, 4px 11px 19px, 40px 80px 90px 100px 150px);

    }

    100% {
        color: #fff;
        @include neon-light-text-shadow(#16a6b6, 2px 4px 6px, 10px 45px 55px 70px 80px);
    }
}