@use '../../styles/mixins/attach-root' as *;
@use '../../styles/mixins/snake-broader' as *;

.container {
    background-color: gray;
    padding: 10px;

    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;

    .animation-4-sides-clockwise {
        @include snakeBorderSide(#6EE2C3, 10px);
    }

    .animation-4-sides-counterclockwise {
        @include snakeBorderSide(#38EE0D, 10px, animation, 4, 1s, false);
    }

    .animation-2-sides-clockwise {
        @include snakeBorderSide(#BF3759, 10px, animation, 2, 1s, true);
    }

    .animation-2-sides-counterclockwise {
        @include snakeBorderSide(#DBD3F3, 10px, animation, 2, 1s, false);
    }

    .animation-1-sides-clockwise {
        @include snakeBorderSide(#3B0110, 10px, animation, 1, 1s, true);
    }

    .animation-1-sides-counterclockwise {
        @include snakeBorderSide(#18D0D8, 10px, animation, 1, 1s, false);
    }

    .hover-4-sides-clockwise {
        @include snakeBorderSide(#36E5E4, 10px, hoverTransition, 4, 1s, true);
    }

    .hover-4-sides-counterclockwise {
        @include snakeBorderSide(#8C6692, 10px, hoverTransition, 4, 1s, false);
    }

    .hover-2-sides-clockwise {
        @include snakeBorderSide(#85A652, 10px, hoverTransition, 2, 1s, true);
    }

    .hover-2-sides-counterclockwise {
        @include snakeBorderSide(#8E43D2, 10px, hoverTransition, 2, 1s, false);
    }

    .hover-1-sides-clockwise {
        @include snakeBorderSide(#35681B, 10px, hoverTransition, 1, 1s, true);
    }

    .hover-1-sides-counterclockwise {
        @include snakeBorderSide(#E18CDB, 10px, hoverTransition, 1, 1s, false);
    }

}